doctype html
html
	head
		title=title
		//- link(rel='stylesheet' href='/styles/style.css')
		meta(name='viewport' content='windth=device-width, initial-scale=1')
	body
		#message
			h1 Hello World #{test}
				h3 pug's in the house

	//- script(src='js/script.js')
